@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: Estilo básico para o corpo da página */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  background-color: #0d1117; /* Um fundo padrão escuro para seções sem BG definido */
  color: #e0e0e0; /* Cor padrão para textos em seções sem BG definido */
}

/* Outros resets podem ser adicionados aqui se necessário */